@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 

body {
  background: linear-gradient(to bottom right, #170c36, rgb(33, 24, 77)); 
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search_input{
  width: 100%;
  padding: 12px 25px 12px 45px;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
  outline: none;
}

.update_email{
  width: 85%;
  padding: 8px 20px;
  font-size: 1.1rem;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height:8px;
  background-color: rgba(185, 185, 185, 0.37);
  background-color: #525485;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  /* background: #0d9276; */
  background: rgba(156, 156, 156, 0.548);
  background-color: #272955;
}
  